<!-- Main Content -->
<!-- Page Loader -->
<!-- Page Loader -->
<toaster-container [toasterconfig]="config"></toaster-container>
<div class="page-loader-wrapper" *ngIf="false">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>
          Book Appointment
          <small class="text-muted">Welcome to Healthcare</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="zmdi zmdi-home"></i> Healthcare</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Appointment</a>
          </li>
          <li class="breadcrumb-item active">Book Appointment</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Appointment</strong> Information
              <small>Description text here...</small>
            </h2>
            <ul class="header-dropdown">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="zmdi zmdi-more"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                  <li>
                    <a href="javascript:void(0);">Edit</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Delete</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Report</a>
                  </li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close">
                  <i class="zmdi zmdi-close"></i>
                </a>
              </li>
            </ul>
          </div>
          <form [formGroup]="patientForm">
            <div class="body">
              <div class="row clearfix">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" />
                  </div>
                </div>
                <div class="error" *ngIf="
                    !patientForm.controls.firstName.valid && errorFirstName
                  ">
                  *Required
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" />
                  </div>
                </div>
                <div class="error" *ngIf="!patientForm.controls.lastName.valid && errorLastName">
                  *Required
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Date of Birth" formControlName="dob" bsDatepicker [maxDate]="maxDate"
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <select class="form-control show-tick" formControlName="gender" id="drpdown">
                    <option value="">- Gender -</option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="form-control show-tick" formControlName="service" id="drpdownSpeciality">
                    <option value="">--Select--</option>
                    <option value="{{ specility._id }}" *ngFor="let specility of allSpecialities">{{ specility.displayName }}</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="zmdi zmdi-calendar"></i>
                    </span>
                    <input type="text" class="form-control datetimepicker" placeholder="Please choose date of appointment." bsDatepicker formControlName="dateOfAppointment"
                      (bsValueChange)="onDateValueChange($event)" />
                  </div>
                </div>
              </div>
              <div class="row clearfix">

                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Email" formControlName="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    />
                  </div>
                  <div class="error" *ngIf="
                      errorEmail ||
                      (patientForm.controls.email.dirty ||
                        patientForm.controls.email.touched ||
                        !patientForm.controls.email.valid)
                    " for="email">
                    *Required and in correct format
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone" formControlName="mobileNumber" maxlength="10" pattern="\d*" />
                  </div>

                  <div class="error" *ngIf="
                      patientForm.controls.mobileNumber.value != '' &&
                      patientForm.controls.mobileNumber.invalid &&
                      (patientForm.controls.mobileNumber.touched ||
                        patientForm.controls.mobileNumber.dirty)
                    ">
                    *Invalid
                  </div>
                  <div class="error" *ngIf="errorMobile">
                    *required
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..." formControlName="description"></textarea>
                  </div>
                </div>

                <div class="col-sm-12">
                  <button type="submit" (click)="searchSlots()" class="btn btn-primary btn-round">
                    Search
                  </button>
                  <button type="submit" class="btn btn-default btn-round btn-simple">
                    Cancel
                  </button>
                </div>

                <div class="col-sm-12">

                  <div class="card">

                    <div class="body">

                      <ul class="inbox-widget list-unstyled clearfix">
                        <li class="inbox-inner">
                          <div class="inbox-item">
                            <p class="author">{{dayName}}</p>

                            <div class="row" *ngIf="slotArray.length>0">
                              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 " *ngFor="let slot of slotArray;let i=index;">
                                <a class="btn btn-info" (click)="bookAppointment(slot)" href="javasctipt:void();">{{slot}}</a>
                              </div>

                            </div>
                            <div class="row" *ngIf="emptySlot">
                              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                                No slot for given date
                              </div>

                            </div>
                          </div>
                        </li>







                      </ul>



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
