<header class="header_sticky">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div id="logo_home">
          <h1>
            <a href="/" title="ischedulenow">ischedulenow</a>
          </h1>
        </div>
      </div>
      <nav class="col-lg-9 col-6">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0">
          <span>Menu mobile</span>
        </a>
        <ul id="top_access">
          <li>
            <a routerLink="/patient/login">
              <i class="pe-7s-user"></i>
            </a>
          </li>
          <li>
            <a routerLink="/patient/register">
              <i class="pe-7s-add-user"></i>
            </a>
          </li>
        </ul>
        <div class="main-menu">
          <ul>
            <li>
              <a routerLink="/patient/coupen">Coupon</a>
            </li>
            <li>
              <a routerLink="/patient/login">Patient Login </a>
            </li>
            <li>
              <a routerLink="/patient/register">Patient Signup </a>
            </li>
          </ul>
        </div>
        <!-- /main-menu -->
      </nav>
    </div>
  </div>
  <!-- /container -->
</header>
