<toaster-container [toasterconfig]="config"></toaster-container>

<div class="layer">



</div>
<!-- Mobile menu overlay mask -->

<div id="preloader" *ngIf="loading">
  <div data-loader="circle-side"></div>
</div>
<!-- End Preload -->

<app-header></app-header>
<!-- /header -->
<main>
  <div id="results">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>
            <strong>Showing 10</strong> of 140 results</h4>
        </div>
        <div class="col-md-6">
          <div class="search_bar_list">
            <input [(ngModel)]="keyword" type="text" class="form-control" placeholder="Ex. Coupon title, description...">
            <input type="submit" (click)="search()" value="Search">
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /results -->

  <div class="filters_listing">
    <div class="container">
      <ul class="clearfix">
        <li>
          <h6>Type</h6>
          <div class="switch-field">
            <input type="radio" id="all" name="type_patient" value="all" checked>
            <label for="all">All</label>
            <input type="radio" id="doctors" name="type_patient" value="doctors">
            <label for="doctors">Trending</label>
            <input type="radio" id="clinics" name="type_patient" value="clinics">
            <label for="clinics">Best of i schedule now</label>
          </div>
        </li>
        <li>
          <h6>Layout</h6>
          <div class="layout_view">
            <a href="#0" class="active">
              <i class="icon-th"></i>
            </a>
            <a href="list.html">
              <i class="icon-th-list"></i>
            </a>
          </div>
        </li>
        <li>
          <h6>Sort by</h6>
          <select name="orderby" class="selectbox">
            <option value="1">Low to high</option>
            <option value="2">Best rated</option>
            <option value="3">High to low</option>
          </select>
        </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /filters -->

  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-4" *ngFor="let coupen of allCoupens">
            <div class="box_list wow fadeIn">
              <a href="javascript:void();" class="wish_bt"></a>
              <figure>
                <a href="javascript:void();" (click)="viewCoupen(coupen._id)">
                  <img src="{{coupen.images[0]}}" class="img-fluid" alt="">
                  <div class="preview">
                    <span>Read more</span>
                  </div>
                </a>
              </figure>
              <div class="wrapper">
                <small>{{getDiscountPercnt(coupen)}}% discount</small>
                <h3>{{coupen.title}}</h3>
                <h3>
                  <del class="coupon-del">${{coupen.value}}</del>
                  <span class="coupon-cost">${{coupen.discountedValue}}</span>
                </h3>

                <p class="three-line-only">{{coupen.description}} </p>
                <span class="rating"> 4.5
                  <i class="icon_star voted"></i>
                  <i class="icon_star voted"></i>
                  <i class="icon_star voted"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <small>(145)</small>
                </span>

              </div>
              <ul>
                <li>
                  <a href="#0" onclick="onHtmlClick('Doctors', 0)">
                    <i class="icon_pin_alt"></i>View on map</a>
                </li>
                <li>
                  <a href="https://www.google.com/maps/dir//{{coupen.address}}" target="_blank">
                    <i class="icon_pin_alt"></i>Directions</a>
                </li>
                <li>
                  <a href="javascript:void();" (click)="viewCoupen(coupen._id)">Buy now</a>
                </li>
              </ul>
            </div>
          </div>


          <!-- /box_list -->


          <!-- /box_list -->


          <!-- /box_list -->


          <!-- /box_list -->


          <!-- /box_list -->


          <!-- /box_list -->

        </div>
        <!-- /row -->

        <nav aria-label="" class="add_top_20">
          <ul class="pagination pagination-sm">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
        <!-- /pagination -->
      </div>
      <!-- /col -->


    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>

<app-footer></app-footer>
<!--/footer-->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- COMMON SCRIPTS -->
