<footer>
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <p>
          <a href="index.html" title="ischedulenow">
            <img src="assets/img/logo.png" data-retina="true" alt="" width="163" height="36" class="img-fluid">
          </a>
        </p>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5>About</h5>
        <ul class="links">
          <li>
            <a href="#0">About us</a>
          </li>
          <li>
            <a href="#0">FAQ</a>
          </li>
          <li>
            <a href="#0">Contact us</a>
          </li>

        </ul>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5>Useful links</h5>
        <ul class="links">
          <li>
            <a href="login.html">Login as Doctor</a>
          </li>
          <li>
            <a href="register.html">Register as Doctor</a>
          </li>
          <li>
            <a href="#0">Doctors</a>
          </li>
          <li>
            <a href="#0">Specialization</a>
          </li>


        </ul>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5>Contact with Us</h5>
        <ul class="contacts">
          <li>
            <a href="tel://61280932400">
              <i class="icon_mobile"></i> + 9592 840 928</a>
          </li>
          <li>
            <a href="mailto:info@ischedulenow.com">
              <i class="icon_mail_alt"></i> help@ischedulenow.com</a>
          </li>
        </ul>
        <div class="follow_us">
          <h5>Follow us</h5>
          <ul>
            <li>
              <a href="#0">
                <i class="social_facebook"></i>
              </a>
            </li>
            <li>
              <a href="#0">
                <i class="social_twitter"></i>
              </a>
            </li>
            <li>
              <a href="#0">
                <i class="social_linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#0">
                <i class="social_instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/row-->
    <hr>
    <div class="row">
      <div class="col-md-8">
        <ul id="additional_links">
          <li>
            <a href="#0">Terms and conditions</a>
          </li>
          <li>
            <a href="#0">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div id="copy">© 2020 ischedulenow</div>
      </div>
    </div>
  </div>
</footer>
