<toaster-container [toasterconfig]="config"></toaster-container>

<div class="layer">



</div>
<!-- Mobile menu overlay mask -->

<div id="preloader" *ngIf="loading">
  <div data-loader="circle-side"></div>
</div>
<!-- End Preload -->

<app-header></app-header>
<!-- /header -->

<main>
  <div id="breadcrumb">
    <div class="container">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <!-- /breadcrumb -->

  <div class="container margin_60">
    <div class="row">
      <div class="col-xl-8 col-lg-8">
        <div class="box_general_3 cart">
          <div class="message">
            <p>Exisitng Customer?
              <a routerLink="patient/login">Click here to login</a>
            </p>
          </div>
          <div class="form_title">
            <h3>
              <strong>1</strong>Your Details</h3>
            <p>
              Lorem Ipsum is simply dummy text
            </p>
          </div>
          <form class="form" [formGroup]="SignUpForm">
            <div class="step">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>First name</label>
                    <input type="text" disabled="{{disabled}}" formControlName="firstName" class="form-control" id="firstname_booking" name="firstname_booking"
                      placeholder="Gaurav	">
                  </div>

                  <div class="error" *ngIf="
                    SignUpForm.controls.firstName.invalid &&
                    (SignUpForm.controls.firstName.touched ||
                      SignUpForm.controls.firstName.dirty)
                  " for="name">
                    This field is required.
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Last name</label>
                    <input type="text" formControlName="lastName" class="form-control" id="lastname_booking" name="lastname_booking" placeholder="Mehta">
                  </div>
                  <div class="error" *ngIf="
                    SignUpForm.controls.lastName.invalid &&
                    (SignUpForm.controls.lastName.touched ||
                      SignUpForm.controls.lastName.dirty)
                  " for="name">
                    This field is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                      type="email" formControlName="email" id="email_booking" name="email_booking" class="form-control" placeholder="gauravmehta88@gmail.com">
                  </div>

                  <div class="error" *ngIf="
                    (SignUpForm.controls.email.dirty ||
                      SignUpForm.controls.email.touched) &&
                    !SignUpForm.controls.email.valid
                  " for="email">
                    *Required in correct format
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Telephone</label>
                    <input maxlength="10" pattern="\d*" type="text" id="telephone_booking" formControlName="mobileNumber" name="telephone_booking"
                      class="form-control" placeholder="9592840928">
                  </div>
                  <div class="error" *ngIf="
                  SignUpForm.controls.mobileNumber.value != '' &&
                  SignUpForm.controls.mobileNumber.invalid &&
                  (SignUpForm.controls.mobileNumber.touched ||
                    SignUpForm.controls.mobileNumber.dirty)
                ">
                    *Invalid
                  </div>
                </div>
              </div>

            </div>
          </form>
          <hr>
          <!--End step -->

          <div class="form_title">
            <h3>
              <strong>2</strong>Payment Information</h3>
            <p>
              Lorem Ipsum is simply dummy text of
            </p>
          </div>
          <div class="step">
            <div class="form-group">
              <label>Name on card</label>
              <input type="text" class="form-control" id="name_card_booking" name="name_card_booking" placeholder="Gaurav Mehta">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Card number</label>
                  <input type="text" id="card_number" name="card_number" class="form-control" placeholder="xxxx - xxxx - xxxx - xxxx">
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <img src="/assets/img/payments.png" alt="Cards" class="cards">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Expiration date</label>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" id="expire_month" name="expire_month" class="form-control" placeholder="MM">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" id="expire_year" name="expire_year" class="form-control" placeholder="Year">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Security code</label>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" id="ccv" name="ccv" class="form-control" placeholder="CCV">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <img src="/assets/img/icon_ccv.gif" width="50" height="29" alt="ccv">
                      <small>Last 3 digits</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End row -->

          </div>
          <hr>
          <!--End step -->

          <div class="form_title">
            <h3>
              <strong>3</strong>Billing Address</h3>
            <p>
              Lorem Ipsum is simply dummy text of
            </p>
          </div>
          <div class="step">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Postal code</label>
                  <input type="text" [(ngModel)]="pincode" id="postal_code" name="postal_code" class="form-control" placeholder="00342">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Address</label>
                  <textarea cols="" rows="5" class="form-control" [(ngModel)]="address"></textarea>

                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" id="city_booking" name="city_booking" class="form-control" placeholder="Miami">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>State</label>
                  <input type="text" id="state_booking" name="state_booking" class="form-control" placeholder="Florida">
                </div>
              </div>

            </div>
            <!--End row -->
          </div>
          <hr>
          <!--End step -->
          <div id="policy">
            <h4>Cancellation policy</h4>
            <div class="form-group">
              <div class="checkboxes">
                <label class="container_check">I accept
                  <a>terms and conditions and general policy</a>
                  <input type="checkbox" [(ngModel)]="cancellationPolicy">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /col -->
      <aside class="col-xl-4 col-lg-4" id="sidebar">
        <div class="box_general_3 booking">
          <form>
            <div class="title">
              <h3>Your booking</h3>
            </div>
            <div class="summary">
              <ul>
                <li>Date:
                  <strong class="float-right">{{dateOfAppointment}}</strong>
                </li>
                <li>Time:
                  <strong class="float-right">{{timeOfAppointment}}</strong>
                </li>
                <li>Dr. Name:
                  <strong class="float-right">Dr. {{doctorName}}</strong>
                </li>
              </ul>
            </div>
            <ul class="treatments checkout clearfix">
              <li>
                Visiting Fee
                <strong class="float-right">$100</strong>
              </li>
              <li>
                Tax 12%
                <strong class="float-right">$12</strong>
              </li>
              <li class="total">
                Total
                <strong class="float-right">$112</strong>
              </li>
            </ul>
            <hr>
            <a (click)="bookAppointment()" class="btn_1 full-width">Confirm and pay</a>
          </form>
        </div>
        <!-- /box_general -->
      </aside>
      <!-- /asdide -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>
<!-- /main content -->

<app-footer></app-footer>
<!--/footer-->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- COMMON SCRIPTS -->
