<!-- Page Loader -->
<toaster-container [toasterconfig]="config"></toaster-container>
<div class="page-loader-wrapper" *ngIf="false">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>

<section class="content profile-page">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>
          UnitedHealthcare Choice Plus Doctors in 08902
          <small class="text-muted">{{allDoctors.length}} Doctors Listed</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="zmdi zmdi-home"></i> Healthcare</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Doctors</a>
          </li>
          <li class="breadcrumb-item active">08902</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card property_list" *ngFor="let doctor of allDoctors">
          <div class="body">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="property_image">
                  <img *ngIf="!doctor.profilePicPath" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaio77_lSjjRsEQNoeSphgSURXg6Tde1rgJi1frZR2cAyHGoPq"
                    class="img-thumbnail img-fluid" style="max-width: 50%;" />
                  <img *ngIf="doctor.profilePicPath" src="{{doctor.profilePicPath}}" class="img-thumbnail img-fluid" alt="profile-image">

                </div>
              </div>
              <div class="col-lg-8 col-md-6">
                <div class="property-content">
                  <div class="detail">
                    <h4 class="m-t-0 m-b-0">

                      <a routerLink="/patient/doctorProfile/{{ doctor._id }}" class="col-blue-grey">Dr.{{ doctor.firstName }} &nbsp;{{ doctor.lastName }}, {{ doctor.designation }} </a>
                    </h4>
                    <h5 class="text-success m-t-5 m-b-0" *ngIf="doctor.speciality_ids.length>0">
                      {{ doctor.speciality_ids[0].displayName }}

                    </h5>
                    <p class="text-muted m-b-0 m-t-10">
                      <i class="zmdi zmdi-pin m-r-5"></i>{{ doctor.address }}
                    </p>
                    <p class="text-muted m-b-0 m-t-5">
                      {{doctor.aboutme}}
                    </p>


                  </div>
                  <div class="property-action m-t-15">
                    <a routerLink="/patient/bookAppointmentSlot/{{ doctor._id }}/{{doctor.firstName}}" title="time">
                      <!-- <i class="zmdi zmdi-time"></i> -->
                      <!-- <span>Next availability is Mon, Jan 28</span> -->

                      <span class="badge badge-info">Book Apoointment</span>

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
