<nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-translate n_logo">
      <a class="navbar-brand" href="javascript:void();" title="" target="_blank"
        >HEALTHCARE</a
      >
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void();">Home</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            title="Follow us on Twitter"
            href="javascript:void();"
            target="_blank"
          >
            <i class="zmdi zmdi-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            title="Like us on Facebook"
            href="javascript:void();"
            target="_blank"
          >
            <i class="zmdi zmdi-facebook"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link btn btn-primary btn-round"
            routerLink="/signup"
            href="javascript:void();"
            (click)="toggleNavbar()"
            >SIGN UP</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
