<toaster-container [toasterconfig]="config"></toaster-container>

<div class="layer">



</div>
<!-- Mobile menu overlay mask -->

<div id="preloader" *ngIf="loading">
  <div data-loader="circle-side"></div>
</div>
<!-- End Preload -->

<app-header></app-header>
<!-- /header -->
<main>
  <div id="breadcrumb">
    <div class="container">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <!-- /breadcrumb -->

  <div class="container margin_60">
    <div class="row">
      <div class="col-xl-8 col-lg-8">
        <nav id="secondary_nav">
          <div class="container">
            <ul class="clearfix">
              <li>
                <a href="#section_1" class="active">General info</a>
              </li>
              <li>
                <a href="#section_2">Reviews</a>
              </li>
              <li>
                <a href="#sidebar">Booking</a>
              </li>
            </ul>
          </div>
        </nav>
        <div id="section_1">
          <div class="box_general_3">
            <div class="profile">
              <div class="row">
                <div class="col-lg-5 col-md-4">
                  <figure>
                    <img src="{{coupen.images}}" alt="" class="img-fluid">
                  </figure>
                </div>
                <div class="col-lg-7 col-md-8">
                  <small>{{getDiscountPercnt(coupen)}}% discount</small>
                  <h1>{{coupen.title}} </h1>
                  <h3>
                    <del class="coupon-del">${{coupen.value}}</del>
                    <span class="coupon-cost">${{coupen.discountedValue}}</span>
                  </h3>
                  <span class="rating">
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star"></i>
                    <small>(145)</small>

                  </span>
                  <ul class="statistic">
                    <li>854 Views</li>
                    <li>124 Sale</li>
                  </ul>
                  <ul class="contacts">
                    <li>
                      <h6>Address</h6>
                      {{coupen.address}}

                      <a href="https://www.google.com/maps/dir//{{coupen.address}}" target="_blank">
                        <strong>View on map</strong>
                      </a>
                    </li>
                    <li>
                      <h6>Sale Ends </h6> {{coupen.valid_till |date}}</li>
                  </ul>
                </div>
              </div>
            </div>

            <hr>

            <!-- /profile -->
            <div class="indent_title_in">
              <i class="pe-7s-user"></i>
              <h3>About This Deal</h3>
              <p>Lorem Ipsum is simply dummy text of the</p>
            </div>
            <div class="wrapper_indent">
              <p>{{coupen.description}} </p>
              <h6>Specializations</h6>
              <div class="row">
                <div class="col-lg-6">
                  <ul class="bullets">
                    <li>Abdominal Radiology</li>
                    <li>Addiction Psychiatry</li>
                    <li>Adolescent Medicine</li>
                    <li>Cardiothoracic Radiology </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="bullets">
                    <li>Abdominal Radiology</li>
                    <li>Addiction Psychiatry</li>
                    <li>Adolescent Medicine</li>
                    <li>Cardiothoracic Radiology </li>
                  </ul>
                </div>
              </div>
              <!-- /row-->
            </div>
            <!-- /wrapper indent -->




            <!--  /wrapper_indent -->
          </div>
          <!-- /section_1 -->
        </div>
        <!-- /box_general -->

        <div id="section_2">
          <div class="box_general_3">
            <div class="reviews-container">
              <div class="row">
                <div class="col-lg-3">
                  <div id="review_summary">
                    <strong>4.7</strong>
                    <div class="rating">
                      <i class="icon_star voted"></i>
                      <i class="icon_star voted"></i>
                      <i class="icon_star voted"></i>
                      <i class="icon_star voted"></i>
                      <i class="icon_star"></i>
                    </div>
                    <small>Based on 4 reviews</small>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-10 col-9">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-3">
                      <small>
                        <strong>5 stars</strong>
                      </small>
                    </div>
                  </div>
                  <!-- /row -->
                  <div class="row">
                    <div class="col-lg-10 col-9">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-3">
                      <small>
                        <strong>4 stars</strong>
                      </small>
                    </div>
                  </div>
                  <!-- /row -->
                  <div class="row">
                    <div class="col-lg-10 col-9">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-3">
                      <small>
                        <strong>3 stars</strong>
                      </small>
                    </div>
                  </div>
                  <!-- /row -->
                  <div class="row">
                    <div class="col-lg-10 col-9">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-3">
                      <small>
                        <strong>2 stars</strong>
                      </small>
                    </div>
                  </div>
                  <!-- /row -->
                  <div class="row">
                    <div class="col-lg-10 col-9">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-3">
                      <small>
                        <strong>1 stars</strong>
                      </small>
                    </div>
                  </div>
                  <!-- /row -->
                </div>
              </div>
              <!-- /row -->

              <hr>

              <div class="review-box clearfix">
                <figure class="rev-thumb">
                  <img src="http://via.placeholder.com/150x150.jpg" alt="">
                </figure>
                <div class="rev-content">
                  <div class="rating">
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star"></i>
                  </div>
                  <div class="rev-info">
                    Arun – April 03, 2016:
                  </div>
                  <div class="rev-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    </p>
                  </div>
                </div>
              </div>
              <!-- End review-box -->

              <div class="review-box clearfix">
                <figure class="rev-thumb">
                  <img src="http://via.placeholder.com/150x150.jpg" alt="">
                </figure>
                <div class="rev-content">
                  <div class="rating">
                    <i class="icon-star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star"></i>
                  </div>
                  <div class="rev-info">
                    Ahsan – April 01, 2016
                  </div>
                  <div class="rev-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    </p>
                  </div>
                </div>
              </div>
              <!-- End review-box -->

              <div class="review-box clearfix">
                <figure class="rev-thumb">
                  <img src="http://via.placeholder.com/150x150.jpg" alt="">
                </figure>
                <div class="rev-content">
                  <div class="rating">
                    <i class="icon-star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star voted"></i>
                    <i class="icon_star"></i>
                  </div>
                  <div class="rev-info">
                    Sara – March 31, 2016
                  </div>
                  <div class="rev-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    </p>
                  </div>
                </div>
              </div>
              <!-- End review-box -->
            </div>
            <!-- End review-container -->
            <hr>
            <div class="text-right">
              <a href="submit-review.html" class="btn_1">Submit review</a>
            </div>
          </div>
        </div>
        <!-- /section_2 -->
      </div>
      <!-- /col -->
      <aside class="col-xl-4 col-lg-4" id="sidebar">
        <div class="box_general_3 booking">
          <form>
            <div class="title">
              <h3>Buy it now</h3>
              <small>Buy with Confidence</small>
            </div>

            <!-- /row -->


            <a href="booking-page.html" class="btn_1 full-width">Buy Now</a>
          </form>
          <hr>
          <div class="follow_us">
            <h6>Share This Deal</h6>
            <ul>
              <li>
                <a href="#0">
                  <i class="social_facebook"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="social_twitter"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="social_linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="social_instagram"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- /box_general -->
      </aside>
      <!-- /asdide -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>

<app-footer></app-footer>
<!--/footer-->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- COMMON SCRIPTS -->
