<!-- Top Bar -->
<toaster-container [toasterconfig]="config"></toaster-container>
<!-- Page Loader -->



<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<!-- Main Content -->


<section class="content profile-page">
  <div class="page-loader-wrapper" *ngIf="loading">
    <div class="loader">
      <div class="m-t-30">
        <img class="zmdi-hc-spin" src="/assets/images/logo.png" width="48" height="48" alt="Healthcare" />
      </div>
      <p>Please wait...</p>
    </div>
  </div>
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>
          Doctors Profile
          <small class="text-muted">Dr.{{ firstName }}{{ lastName }}, {{ speciality }}</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">
              <i class="zmdi zmdi-home"></i> Healthcare</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Doctors</a>
          </li>
          <li class="breadcrumb-item active">
            Dr.{{ firstName }}{{ lastName }}, {{ speciality }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-8">
        <div class="card member-card">
          <div class="header l-cyan">
            <h4 class="m-t-10">
              Dr. {{ firstName }}{{ lastName }}, {{ speciality }}
            </h4>
          </div>
          <div class="member-img">
            <a href="javascript:void(0);" class="">
              <img *ngIf="profilePicPath" src="{{profilePicPath}}" class="rounded-circle" />
              <img *ngIf="!profilePicPath" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaio77_lSjjRsEQNoeSphgSURXg6Tde1rgJi1frZR2cAyHGoPq"
                class="rounded-circle" />

            </a>
          </div>
          <div class="body">
            <div class="col-12">
              <ul class="social-links list-unstyled">
                <li>
                  <a href="javascript:void(0);">8 photos</a>
                </li>
              </ul>

              <div class="rating">
                <div class="stars">
                  <span class="zmdi zmdi-star col-amber"></span>
                  <span class="zmdi zmdi-star col-amber"></span>
                  <span class="zmdi zmdi-star col-amber"></span>
                  <span class="zmdi zmdi-star col-amber"></span>
                  <span class="zmdi zmdi-star-outline"></span>
                </div>
                <span class="m-l-10">
                  <a href="javascript:void(0);">read reviews</a>
                </span>
              </div>

              <h5>{{ designation }}</h5>
              <p class="text-muted">{{ address }}</p>
            </div>
            <hr />
            <!--<div class="row">
                          <div class="col-4">
                              <h5>852</h5>
                              <small>Following</small>
                          </div>
                          <div class="col-4">
                              <h5>13k</h5>
                              <small>Followers</small>
                          </div>
                          <div class="col-4">
                              <h5>234</h5>
                              <small>Post</small>
                          </div>                            
                      </div>-->
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>
              <strong>Professional </strong> statement</h2>
          </div>
          <div class="body">
            {{ aboutme }}
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>In-network </strong> insurances</h2>
          </div>
          <div class="body">
            <span *ngFor="let insurance of selectedInsurances">{{insurance.displayName}} ,</span>
            <a href="javascript:void(0);">View all</a>
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>Specialties </strong>
            </h2>
          </div>
          <div class="body">
            {{ speciality }}
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>Hospital </strong> affiliations</h2>
          </div>
          <div class="body">
            {{ hospital }}
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>Board </strong> certifications</h2>
          </div>
          <div class="body">
            {{ boardCertification }}
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>Education and </strong> training</h2>
          </div>
          <div class="body">
            {{ eduAndTraining }}
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>Awards and </strong> publications</h2>
          </div>
          <div class="body">
            {{ awardAndPublication }}
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>Languages </strong> spoken</h2>
          </div>
          <div class="body">
            {{ languages }}
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>Provider's </strong> gender</h2>
          </div>
          <div class="body">
            Female
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>NPI </strong> number</h2>
          </div>
          <div class="body">
            {{ npiNumber }}
          </div>

          <hr />
          <div class="header">
            <h2>
              <strong>Office </strong> locations</h2>
          </div>
          <div class="body">
            {{ officeLocationAddress }}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="tab-content">
          <div class="card member-card">
            <div style="min-height:60px;" class="header l-cyan">
              <h4 class="m-t-0 m-b-0">Book an appointment for free</h4>
            </div>

            <div style="text-align:left;" class="body">


              <div class="clearfix"></div>
              <div class="text-center m-t-20">
                <button class="btn btn-info btn-round m-b-30" (click)="bookAppointment()">
                  Book appointment
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
