<toaster-container [toasterconfig]="config"></toaster-container>

<div class="layer">



</div>
<!-- Mobile menu overlay mask -->

<div id="preloader" *ngIf="loading">
  <div data-loader="circle-side"></div>
</div>
<!-- End Preload -->

<app-header></app-header>
<!-- /header -->


<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="register">
        <h1>Please register to Findoctor!</h1>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <form class="form" [formGroup]="SignUpForm">
              <div class="box_form">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" name="name" />
                  <div class="error" *ngIf="
                  SignUpForm.controls.firstName.invalid &&
                  (SignUpForm.controls.firstName.touched ||
                    SignUpForm.controls.firstName.dirty)
                " for="name">
                    This field is required.
                  </div>
                </div>
                <div class="form-group">
                  <label>Middle name</label>
                  <input type="text" class="form-control" placeholder="Middle Name" formControlName="middleName" name="middleName" />

                </div>
                <div class="form-group">
                  <label>Last name</label>
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" name="lastName" />
                  <div class="error" *ngIf="
                  SignUpForm.controls.lastName.invalid &&
                  (SignUpForm.controls.lastName.touched ||
                    SignUpForm.controls.lastName.dirty)
                " for="lastname">
                    This field is required.
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" placeholder="Enter Email" name="email" formControlName="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                  />
                  <div class="error" *ngIf="
                  (SignUpForm.controls.email.dirty ||
                    SignUpForm.controls.email.touched) &&
                  !SignUpForm.controls.email.valid
                " for="email">
                    *Required in correct format
                  </div>
                </div>


                <div class="form-group">
                  <label>Phone number</label>
                  <input type="text" class="form-control br0" placeholder="Enter Mobile No." formControlName="mobileNo" maxlength="10" pattern="\d*"
                  />
                  <div class="error" *ngIf="
                  SignUpForm.controls.mobileNo.value != '' &&
                  SignUpForm.controls.mobileNo.invalid &&
                  (SignUpForm.controls.mobileNo.touched ||
                    SignUpForm.controls.mobileNo.dirty)
                ">
                    *Invalid
                  </div>
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Enter Address" formControlName="address" />

                </div>
                <div class="form-group">
                  <label>Pin No.</label>
                  <input type="text" class="form-control br0" placeholder="Enter Zip Code" formControlName="pinNo" />

                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" placeholder="Password" class="form-control" name="password" formControlName="password" />
                  <div class="error" *ngIf="
                  (SignUpForm.controls.password.dirty ||
                    SignUpForm.controls.password.touched) &&
                  !SignUpForm.controls.password.valid
                ">
                    <small>*Required</small>
                  </div>
                </div>
                <div class="form-group">
                  <label>Confirm password</label>
                  <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword" />
                  <div class="error" *ngIf="
                  SignUpForm.controls.password.value !=
                    SignUpForm.controls.confirmPassword.value &&
                  (SignUpForm.controls.confirmPassword.touched ||
                    SignUpForm.controls.confirmPassword.dirty)
                ">
                    <small>**must match with password</small>
                  </div>

                  <div class="error" *ngIf="
                  !SignUpForm.controls.confirmPassword.valid &&
                  (SignUpForm.controls.confirmPassword.touched ||
                    SignUpForm.controls.confirmPassword.dirty)
                ">
                    <small>*Required</small>
                  </div>
                </div>
                <div id="pass-info" class="clearfix"></div>
                <div class="checkbox-holder text-left">
                  <div class="checkbox_2">
                    <input id="terms" type="checkbox" formControlName="agree" />

                    <label for="terms">
                      <span>I Agree to the
                        <strong>Terms &amp; Conditions</strong>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="form-group text-center add_top_30">
                  <input class="btn_1" (click)="signUp()" type="button" value="Submit">
                </div>
              </div>
              <p class="text-center">
                <small>Has voluptua vivendum accusamus cu. Ut per assueverit temporibus dissentiet. Eum no atqui putant democritum,
                  velit nusquam sententiae vis no.</small>
              </p>
            </form>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /register -->
    </div>
  </div>
</main>
<!-- /main -->

<app-footer></app-footer>
<!--/footer-->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- COMMON SCRIPTS -->
