<toaster-container [toasterconfig]="config">






</toaster-container>

<div class="layer">



</div>
<!-- Mobile menu overlay mask -->

<div id="preloader" *ngIf="loading">
  <div data-loader="circle-side"></div>
</div>
<!-- End Preload -->

<app-header></app-header>
<!-- /header -->


<main>
  <div id="results">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>
            <strong>Showing 10</strong> of 140 results</h4>
        </div>
        <div class="col-md-6">
          <div class="search_bar_list">
            <input type="text" class="form-control" placeholder="Ex. Specialist, Name, Doctor...">
            <input type="submit" value="Search">
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /results -->

  <div class="filters_listing">
    <div class="container">
      <ul class="clearfix">
        <li>
          <h6>Type</h6>
          <div class="switch-field">
            <input type="radio" id="all" name="type_patient" value="all" checked>
            <label for="all">All</label>
            <input type="radio" id="doctors" name="type_patient" value="doctors">
            <label for="doctors">Doctors</label>
            <input type="radio" id="clinics" name="type_patient" value="clinics">
            <label for="clinics">Clinics</label>
          </div>
        </li>
        <li>
          <h6>Layout</h6>
          <div class="layout_view">
            <a href="#0" class="active">
              <i class="icon-th"></i>
            </a>
            <a href="list.html">
              <i class="icon-th-list"></i>
            </a>
            <a href="list-map.html">
              <i class="icon-map-1"></i>
            </a>
          </div>
        </li>
        <li>
          <h6>Sort by</h6>
          <select name="orderby" class="selectbox">
            <option value="Closest">Closest</option>
            <option value="Best rated">Best rated</option>
            <option value="Men">Men</option>
            <option value="Women">Women</option>
          </select>
        </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /filters -->

  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-7">

        <div class="strip_list wow fadeIn" *ngFor="let doctor of allDoctors">
          <a href="#0" class="wish_bt"></a>
          <figure>
            <a routerLink="/patient/doctorProfile/{{ doctor._id }}">
              <img *ngIf="!doctor.profilePicPath" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaio77_lSjjRsEQNoeSphgSURXg6Tde1rgJi1frZR2cAyHGoPq"
                style="max-width: 50%;" />
              <img *ngIf="doctor.profilePicPath" src="{{doctor.profilePicPath}}" alt="profile-image">
            </a>
          </figure>
          <small> {{ doctor.designation }}</small>
          <h3>Dr.{{ doctor.firstName }} &nbsp;{{ doctor.lastName }} </h3>
          <p> {{doctor.aboutme}}</p>
          <span class="rating">
            <i class="icon_star voted"></i>
            <i class="icon_star voted"></i>
            <i class="icon_star voted"></i>
            <i class="icon_star"></i>
            <i class="icon_star"></i>
            <small>(145)</small>
          </span>

          <ul>
            <li>
              <a href="#0" onclick="onHtmlClick('Doctors', 0)" class="btn_listing">View on Map</a>
            </li>
            <li>
              <a href="https://www.google.com/maps/dir//{{doctor.address}}" target="_blank">Directions</a>
            </li>
            <li>
              <a routerLink="/patient/doctorDetail/{{ doctor._id }}">Book now</a>
            </li>
          </ul>
        </div>
        <!-- /strip_list -->


        <nav aria-label="" class="add_top_20">
          <ul class="pagination pagination-sm">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
        <!-- /pagination -->
      </div>
      <!-- /col -->

      <aside class="col-lg-5" id="sidebar">
        <div id="map_listing" class="normal_list">
        </div>
      </aside>
      <!-- /aside -->

    </div>
    <!-- /row -->
  </div>
</main>
<!-- /main content -->

<app-footer></app-footer>
<!--/footer-->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- COMMON SCRIPTS -->
