<toaster-container [toasterconfig]="config"></toaster-container>

<body class="theme-cyan authentication sidebar-collapse">
  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <div class="container">
      <div class="navbar-translate n_logo">
        <a class="navbar-brand" href="javascript:void();" title="" target="_blank">HEALTHCARE</a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" title="Follow us on Twitter" href="#" target="_blank">
              <i class="zmdi zmdi-twitter"></i>
              <p class="d-lg-none d-xl-none">Twitter</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Like us on Facebook" href="#" target="_blank">
              <i class="zmdi zmdi-facebook"></i>
              <p class="d-lg-none d-xl-none">Facebook</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn btn-primary btn-round" routerLink="/login" href="javascript:void();" (click)="toggleNavbar()">SIGN IN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- End Navbar -->
  <div class="page-header">
    <div class="page-header-image" style="background-image:url('assets/images/login.jpg') "></div>
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="card-plain">
          <div class="header">
            <div class="logo-container">
              <img src="assets/images/logo.png" alt="" />
            </div>
            <h5>Change Password?</h5>
            <span>Enter your e-mail address/ Mobile no below to reset your password.
            </span>
          </div>
          <div class="content">
            <div class="input-group input-lg">
              <input type="text" class="form-control" placeholder="Enter Email/ Mobile No." [(ngModel)]="emailMobile" />
              <span class="input-group-addon">
                <i class="zmdi zmdi-email"></i>
              </span>
            </div>
            <div class="error" *ngIf="emailMobile == ''">
              *Required
            </div>
          </div>
          <div class="footer text-center">
            <a (click)="submit()" href="javascript:void();" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">SUBMIT</a>
            <h6 class="m-t-20">
              <a href="#" class="link">Need Help?</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</body>
