<!-- Page Loader --><toaster-container
  [toasterconfig]="config"
></toaster-container>

<div class="page-loader-wrapper" *ngIf="loading">
  <div class="loader">
    <div class="m-t-30">
      <img
        class="zmdi-hc-spin"
        src="assets/images/logo.png"
        width="48"
        height="48"
        alt="Healthcare"
      />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>
          Add Patient
          <small class="text-muted">Welcome to Healthcare</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);"
              ><i class="zmdi zmdi-home"></i> Healthcare</a
            >
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Patient</a>
          </li>
          <li class="breadcrumb-item active">Add Patient</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Basic</strong> Information
              <small>Add Basic Information here...</small>
            </h2>
          </div>
          <form [formGroup]="patientForm">
            <div class="body">
              <div class="row clearfix">
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      formControlName="firstName"
                    />
                  </div>
                  <div
                    class="error"
                    *ngIf="
                      !patientForm.controls.firstName.valid && errorFirstName
                    "
                  >
                    *Required
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                      formControlName="lastName"
                    />
                  </div>
                </div>
                <div
                class="error"
                *ngIf="
                  !patientForm.controls.lastName.valid && errorLastName
                "
              >
                *Required
              </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Phone No."
                      formControlName="mobileNumber"
                      maxlength="10"
                      pattern="\d*"
                    />
                  </div>
                  <div
                    class="error"
                    *ngIf="
                      patientForm.controls.mobileNumber.value != '' &&
                      patientForm.controls.mobileNumber.invalid &&
                      (patientForm.controls.mobileNumber.touched ||
                        patientForm.controls.mobileNumber.dirty)
                    "
                  >
                    *Invalid
                  </div>
                  <div class="error" *ngIf="errorMobile">
                    *required
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-3">
                  <div class="form-group m-t-5">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Date of Birth"
                      formControlName="dob"
                      bsDatepicker
                      [maxDate]="maxDate"
                      (bsValueChange)="onDateValueChange($event)"
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group m-t-5">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Age"
                      formControlName="age"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <select
                    class="form-control show-tick"
                    formControlName="gender"
                    id="drpdown"
                  >
                    <option value="">- Gender -</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <div class="form-group m-t-5">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Your Email"
                      formControlName="email"
                      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    />
                  </div>
                  <div
                    class="error"
                    *ngIf="
                      errorEmail ||
                      ((patientForm.controls.email.dirty ||
                        patientForm.controls.email.touched) &&
                        !patientForm.controls.email.valid)
                    "
                    for="email"
                  >
                    *Required and in correct format
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <form
                    action="/"
                    id="frmFileUpload"
                    class="dropzone"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <div class="dz-message">
                      <div class="drag-icon-cph">
                        <i class="material-icons">touch_app</i>
                      </div>
                      <h3>Drop files here or click to upload.</h3>
                      <em
                        >(This is just a demo dropzone. Selected files are
                        <strong>not</strong> actually uploaded.)</em
                      >
                    </div>
                    <div class="fallback">
                      <input name="file" type="file" multiple />
                    </div>
                  </form>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea
                      rows="4"
                      class="form-control no-resize"
                      placeholder="Description"
                      formControlName="description"
                    ></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button
                    type="submit"
                    class="btn btn-primary btn-round"
                    (click)="addPatient()"
                  >
                    Submit
                  </button>
                  <button
                    type="submit"
                    class="btn btn-default btn-round btn-simple"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
