<toaster-container [toasterconfig]="config"></toaster-container>
<div class="page-loader-wrapper" *ngIf="false">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Add/ View Documents

        </h2>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">





        <div class="card">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#add-documents">Add documents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#view-documents">View documents</a>
            </li>

          </ul>
        </div>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="add-documents">

            <div class="card">
              <div class="header">
                <h2>
                  <strong>Upload</strong> Documents </h2>
                <small>You can Upload your health related documents here.</small>

              </div>
              <div class="body">
                <div class="row clearfix">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]="title" placeholder="Documents Title">
                    </div>
                  </div>
                  <div class="col-sm-3">

                    <select class="form-control show-tick" [(ngModel)]="documentType">
                      <option value="">Documents Type</option>
                      <option value="Report">Report</option>
                      <option value="Letter">Letter</option>
                    </select>

                  </div>

                  <div class="col-sm-3">

                    <select class="form-control show-tick" [(ngModel)]="documentStatus">
                      <option value="">Status</option>
                      <option value="Active">Active</option>
                      <option value="InActive">Inactive</option>
                    </select>

                  </div>
                </div>





                <div class="row clearfix" style="cursor:pointer">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <form (click)="uploadDocument()" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                      <div class="dz-message">
                        <div class="drag-icon-cph">

                          <i class="material-icons">touch_app</i>

                        </div>
                        <h3> Click to upload.</h3>
                        <em>( Selected files are
                          <strong>not</strong> actually uploaded.)</em>
                      </div>
                    </form>
                  </div>

                  <div class="col-lg-6">
                    <div class="card">
                      <img src="{{documentUrl}}" />
                    </div>
                  </div>


                </div>

                <div class="row clearfix">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea rows="4" class="form-control no-resize" [(ngModel)]="description" placeholder="Description"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-round" (click)="saveDocument()">Save</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="view-documents">


            <!-- Exportable Table -->
            <div class="row clearfix">
              <div class="col-lg-12">
                <div class="card">
                  <div class="header">
                    <h2>
                      <strong>View </strong> Documents</h2>
                    <small>You can View/ delete your health related documents here.</small>
                  </div>
                  <div class="body">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                      <thead>
                        <tr>

                          <th>Title</th>
                          <th>Type</th>
                          <th>Description</th>
                          <th>Date Added</th>
                          <th>Status</th>
                          <th>Preview</th>
                          <th>Private</th>
                          <th>Delete</th>
                          <th>Share Report</th>

                        </tr>
                      </thead>
                      <tfoot>

                      </tfoot>
                      <tbody>

                        <tr *ngFor="let document of documents">

                          <td>{{document.title}}</td>
                          <td>{{document.docType}}</td>
                          <td>
                            <span class="text-info">{{document.description}}</span>
                          </td>
                          <td>{{document.created_on | date}}</td>
                          <td>{{document.docStatus}}</td>
                          <td>
                            <a href="{{document.url}}" target="_blank">
                              <span class="badge badge-success">View </span>
                            </a>
                          </td>
                          <td>
                            <input type="checkbox" name="p" value="">
                          </td>
                          <td>
                            <a href="javascript:void();">
                              <span class="badge badge-danger" (click)="deleteDoc(document._id)">Delete</span>
                            </a>
                          </td>
                          <td>
                            <a href="javascript:void();">
                              <span class="badge badge-info" (click)="shareUrl ('wa',document._id)">Share</span>
                            </a>
                          </td>
                        </tr>





                      </tbody>

                    </table>
                  </div>
                </div>
              </div>


            </div>
            <!-- #END# Exportable Table -->
          </div>


        </div>



      </div>
    </div>
  </div>
</section>

<div class="modal fade " id="share" tabindex="-1 " role="dialog ">
  <div class="modal-dialog modal-md " role="document ">
    <div class="modal-content ">
      <div class="modal-header ">
        <h4 class="title " id="largeModalLabel ">Share Document with</h4>
      </div>
      <div class="modal-body ">
        <div class="body ">
          <div class="row clearfix ">
            <div class="col-sm-12 ">
              Search Doctor
              <div class="form-group">
                <select id="searchDoctor" class="browser-default  ">
                </select>

                <!-- <input type="text" id="searchDoctor" class="form-control" placeholder="Search by name"> -->
              </div>
            </div>




          </div>
        </div>
        <div class="modal-footer ">
          <button type="button " class="btn btn-success waves-effect " (click)="share()">Share</button>
        </div>
      </div>
    </div>
  </div>
</div>
