<!-- Main Content -->
<!-- Page Loader -->

<body>
  <toaster-container [toasterconfig]="config"></toaster-container>

  <div class="page-loader-wrapper" *ngIf="loading">
    <div class="loader">
      <div class="m-t-30">
        <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
      </div>
      <p>Please wait....</p>
    </div>
  </div>

  <!-- Overlay For Sidebars -->
  <div class="overlay" *ngIf="false"></div>
  <app-top-bar></app-top-bar>
  <app-side-bar></app-side-bar>
  <section class="content profile-page">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>
            Patient Profile..
            <small class="text-muted">Welcome {{ firstName }} {{ lastName }}</small>
          </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
            <i class="zmdi zmdi-plus"></i>
          </button>
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item">
              <a href="javascript:void();">
                <i class="zmdi zmdi-home"></i> Healthcare</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Patient</a>
            </li>
            <li class="breadcrumb-item active">Patient Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card member-card">
            <div class="header l-cyan">
              <h4 class="m-t-10">Mr. {{firstName}} {{lastName}}</h4>
            </div>
            <div class="member-img">
              <a *ngIf="!profilePicPath" href="javascript:void();" class="" (click)="uploadPic()">
                <img src="http://dummyimage.com/60x60/00a5b7/ffffff&amp;text={{firstName | slice:0:1 | uppercase}}" class="rounded-circle"
                />
              </a>


              <a *ngIf="profilePicPath" href="javascript:void();" class="" (click)="uploadPic()">
                <img src="{{profilePicPath}}" class="rounded-circle" alt="profile-image">
              </a>
            </div>
            <div class="body">
              <div class="col-12">
                <!--<ul class="social-links list-unstyled">
                          <li>Gynaecologist</li>
                      </ul>-->
                <p class="text-muted">Last Visit : 26-1-2019</p>

              </div>
              <hr>
              <!--<div class="row">
                      <div class="col-4">
                          <h5>852</h5>
                          <small>Following</small>
                      </div>
                      <div class="col-4">
                          <h5>13k</h5>
                          <small>Followers</small>
                      </div>
                      <div class="col-4">
                          <h5>234</h5>
                          <small>Post</small>
                      </div>                            
                  </div>-->
            </div>
          </div>
          <div class="card">


            <div class="tab-pane body active" id="about">

              <small class="text-muted">First Name: </small>
              <p>Mr. {{firstName}} </p>
              <hr>

              <small class="text-muted">Last Name: </small>
              <p>{{lastName}}</p>
              <hr>
              <small class="text-muted">Email address: </small>
              <p>{{email}}</p>
              <hr>
              <small class="text-muted">Address: </small>
              <p>{{address}}.</p>
              <hr>
              <small class="text-muted">Phone: </small>
              <p>+ {{mobileNumber}}</p>



            </div>



          </div>
        </div>

        <div class="col-lg-8 col-md-12">
          <form [formGroup]="profileForm">
            <div class="tab-content">
              <div class="card">
                <div class="header">
                  <h2>
                    <strong>Personal</strong> information</h2>
                </div>
                <div class="body">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Balwinder" formControlName="firstName" />
                  </div>
                  <div class="error" *ngIf="
                      !profileForm.controls.firstName.valid && errorFirstName
                    ">
                    *Required
                  </div>



                  <div class="form-group">
                    <input type="text" class="form-control" placeholder=" Singh" formControlName="lastName" />
                  </div>
                  <div class="error" *ngIf="
                      !profileForm.controls.lastName.valid && errorLastName
                    ">
                    *Required
                  </div>

                  <div class="form-group">
                    <input type="text" (bsValueChange)="onDateValueChange($event)" class="form-control" placeholder="Date of Birth" formControlName="dob"
                      bsDatepicker />
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="28 Sheffield ct North Brunswick, NJ" formControlName="address" />
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Zip code" formControlName="zipCode" />
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                      placeholder=" email" formControlName="email" />
                  </div>
                  <div class="error" *ngIf="
                    (profileForm.controls.email.dirty ||
                    profileForm.controls.email.touched) &&
                    !profileForm.controls.email.valid
                  " for="email">
                    *Required in correct format
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" maxlength="10" pattern="\d*" placeholder=" mobileNumber" formControlName="mobileNumber"
                    />
                  </div>
                  <div class="error" *ngIf="
                  profileForm.controls.mobileNumber.value != '' &&
                  profileForm.controls.mobileNumber.invalid &&
                    (profileForm.controls.mobileNumber.touched ||
                    profileForm.controls.mobileNumber.dirty)
                  ">
                    *Invalid
                  </div>
                  <div class="error" *ngIf="
                 errorMobileNumber
                  ">
                    *required
                  </div>


                </div>
              </div>




            </div>
            <button class="btn btn-info btn-round" (click)="saveChanges()">
              Save Changes
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- in-network-insurances  -->
  </section>

</body>
