<!-- Page Loader -->
<toaster-container [toasterconfig]="config"></toaster-container>

<div class="page-loader-wrapper" *ngIf="loading">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="/assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<!-- Main Content -->
<section class="content profile-page">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Book a Slot
          <small class="text-muted">Welcome Patient Name</small>
        </h2>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card member-card">
          <div style="min-height:60px;" class="header l-cyan">
            <h5 class="m-t-0 m-b-0">What time works for you?</h5>
          </div>


          <div style="text-align:left;" class="body">





            <p class="m-b-0 m-t-10">
              <b>Select Appointment Day</b>
            </p>

            <div class="input-group">
              <span class="input-group-addon">
                <i class="zmdi zmdi-calendar"></i>
              </span>
              <input type="text" (bsValueChange)="onDateValueChange($event)" [minDate]="minDate" bsDatepicker class="form-control datetimepicker"
                placeholder="Please choose date & time...">
            </div>








            <div class="clearfix"></div>
            <div class="text-center m-t-20">
              <button class="btn btn-info btn-lg btn-block m-b-30" (click)="searchSlots()">Get Appointment Slots</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-8 col-md-12">

        <div class="card">

          <div class="body">

            <ul class="inbox-widget list-unstyled clearfix">
              <li class="inbox-inner">
                <div class="inbox-item">
                  <p class="author">{{dayName}}</p>

                  <div class="row" *ngIf="slotArray.length>0">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 " *ngFor="let slot of slotArray;let i=index;">
                      <a class="btn btn-info" (click)="bookAppointment(slot)" href="javasctipt:void();">{{slot}}</a>
                    </div>

                  </div>
                  <div class="row" *ngIf="emptySlot">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                      No slot for given date
                    </div>

                  </div>
                </div>
              </li>







            </ul>



          </div>
        </div>

      </div>
    </div>
  </div>
</section>
