<!-- Main Content -->
<!-- Page Loader -->
<div class="page-loader-wrapper" *ngIf="false">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<section class="content inbox">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>
          Compose
          <small class="text-muted">Welcome to Healthcare</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="zmdi zmdi-home"></i> Healthcare</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Inbox</a>
          </li>
          <li class="breadcrumb-item active">Compose</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card action_bar">
          <div class="body">
            <div class="row clearfix">
              <div class="col-lg-1 col-md-2 col-3">
                <div class="checkbox inlineblock delete_all">
                  <input id="deleteall" type="checkbox" />
                  <label for="deleteall">
                    All
                  </label>
                </div>
              </div>
              <div class="col-lg-5 col-md-4 col-6">
                <div class="input-group search">
                  <input type="text" class="form-control" placeholder="Search..." />
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-search"></i>
                  </span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-3">
                <div class="btn-group hidden-sm-down">
                  <div class="btn-group">
                    <button type="button" class="btn btn-simple btn-info dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="zmdi zmdi-label"></i>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right slideDown">
                      <li>
                        <a href="javascript:void(0);">Family</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">Work</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">Google</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                        <a href="javascript:void(0);">Create a Label</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btn-group hidden-md-down hidden-sm-down">
                  <button type="button" class="btn btn-simple btn-info dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="zmdi zmdi-folder"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right slideDown">
                    <li>
                      <a href="javascript:void(0);">Important</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">Social</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">Bank Statements</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="javascript:void(0);">Create a folder</a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group hidden-sm-down">
                  <button type="button" class="btn btn-simple btn-warning dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    More
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right slideDown">
                    <li>
                      <a href="javascript:void(0);">Unread</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">Unimportant</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">Add star</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="javascript:void(0);">Mute</a>
                    </li>
                  </ul>
                </div>
                <button type="button" class="btn btn-success btn-icon btn-icon-mini btn-round hidden-sm-down">
                  <i class="zmdi zmdi-plus-circle"></i>
                </button>
                <button type="button" class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round hidden-sm-down">
                  <i class="zmdi zmdi-archive"></i>
                </button>
                <button type="button" class="btn btn-icon btn-simple btn-icon-mini btn-round btn-danger">
                  <i class="zmdi zmdi-delete"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="form-group form-float">
                  <input type="text" class="form-control" placeholder="To:" />
                </div>
                <div class="form-group form-float">
                  <input type="text" class="form-control" placeholder="Subject" />
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-xl-12">
                <strong>Content:</strong>
                <textarea id="ckeditor">
                  <h2>WYSIWYG Editor</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged.</p>
                  <h3>Lorem Ipsum</h3>
                  <ul>
                    <li>Lorem Ipsum is simply dummy.</li>
                    <li>Lorem Ipsum is simply dummy.</li>
                    <li>Lorem Ipsum is simply dummy.</li>
                    <li>Lorem Ipsum is simply dummy.</li>

                  </ul>
                  <h3>Lorem Ipsum is simply dummy</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. </p>
                </textarea>

                <button type="button" class="btn btn-primary btn-round waves-effect m-t-20">
                  Send Message
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
